{% extends "templates/base.html" %}
{% block content %}

<!-- Page Content -->
<div class="container">
  
  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">About
        <small>Clearway Facility Services</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="index.html">Home</a>
        </li>
        <li class="active">About</li>
      </ol>
    </div>
  </div>
  <!-- /.row -->
  
  <!-- Intro Content -->
  <div class="row">
    <div class="col-md-6">
      <img class="img-responsive" src="http://www.in.issworld.com/-/media/issworld/in/mig/our-services/property-services/publishingimages/facility-management2.jpg" alt="">
    </div>
    <div class="col-md-6">
      <h2>About Us</h2>
      <p>We at CLEARWAY Facility Services provides efficient, reliable and profession facility services to meet your daily needs.</p>
      
      <p>The company was setup in 2014 and was lead by a team of members having wide experience in facility management. We provide service using modern machineries and equipments by trained personnel at rock bottom rates.</p>
      <h3>"Your convenience and satisfaction our motto"</h3>
    </div>
  </div>
  <!-- /.row -->
  
  <!-- Team Members -->
  <!-- /.row -->
  
  <!-- Our Customers -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Our Customers</h2>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
    </div>
  </div>
  <!-- /.row -->
  
  <hr>
  
</div>
<!-- /.container -->

{% endblock %}
