<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>Clearway Facility Services</title>
  
  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">
  
  <!-- Custom CSS -->
  <!--<link href="css/modern-business.css" rel="stylesheet">-->
  
  <!-- Custom Fonts -->
  <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/material/css/ripples.css" rel="stylesheet">
  <link href="/material/css/material-wfont.css" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/lib/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
  
</head>

<body>
  
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" >Clearway Facility Services</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/about">About</a>
          </li>
          <!--<li>
            <a href="/services">Services</a>
          </li>-->
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
  
    
  {% block content %}
  {% endblock %}
 <div class="container-fluid" style="height:300px;background-color:#282828;color:#ccc">
   <div class="container">
     <footer>
       <div class="row">
	 <div class="col-md-4">
           <p>Copyright &copy; Clearway Facility Services 2014</p>
	 </div>
	 <div class="col-md-4">
	   Contact Us
	   <h4><i class="fa fa-fw fa-phone-square"></i> 0484 3197453</h4>
	   <h4><i class="fa fa-fw fa-mobile"></i> 9020205091</h4>
	   <h4><i class="fa fa-fw fa-mobile"></i> 9020205092</h4>
	 </div>
	 <div class="col-md-4">
	   <h3>Corporate Address</h3>
	   <p>
	     Clearway Facility Services
	   </p>
	   <p>Parambithara Road</p>
	   <p>Cochin-36</p>
	   <p>Kerala, India</p>
	   <p><i class="fa fa-envelope"></i> 
             <a href="mailto:cfsekm@gmail.com">cfsekm@gmail.com</a>
	   </p>
	   <p><i class="fa fa-clock-o"></i> Monday - Saturday : 9:00 AM - 5:00 PM</p>
	 </div>
       </div>
     </footer>
   </div>
 </div>
  <!-- scripts and styles -->
  <!--
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="/material/js/ripples.min.js"></script>
    <script src="/material/js/material.min.js"></script>
-->
    <script type="text/javascript">
      var context = "{{servlet-context}}";
    </script>
    {% block page-scripts %}
    {% endblock %}
  </body>
</html>

