{% extends "templates/base.html" %}
{% block content %}
<!-- Header Carousel -->
<div class="container">
 <div class="row">
   <div class="col-md-9">
     <img class="img-responsive img-rounded" src="/img/banner.jpg" alt="">
   </div>
   <!-- /.col-md-8 -->
   <div class="col-md-3">
     <h1>Call Now!</h1>
     <h4><i class="fa fa-fw fa-phone-square"></i> 0484 3197453</h4>
     <h4><i class="fa fa-fw fa-mobile"></i> 9020205091</h4>
     <h4><i class="fa fa-fw fa-mobile"></i> 9020205092</h4>
     <h4><i class="fa fa-fw fa-envelope"></i> cfsekm@gmail.com</h4>
     <a class="btn btn-primary btn-lg" href="#">Call to Action!</a>
   </div>
   <!-- /.col-md-4 -->
 </div>
</div>
<!-- Page Content -->
<div class="container">
  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Master Key Solutions to Daily Needs. Just a Call Away
      </h1>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-home"></i> Housekeeping</h4>
        </div>
        <div class="panel-body">
          <p>We undertake onetime / regular housekeeping service at offices, godown, flats, villas etc... using modern machineries and equipments with trained personnel.</p>
          <a href="#" class="btn btn-default">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-group"></i> Labour Contract</h4>
        </div>
        <div class="panel-body">
          <p>We are experts in payroll management for your esteemed organisation. We also provide labour requirements on daily, weekly and monthly basis.</p>
          <a href="#" class="btn btn-default">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-wrench"></i> Repairs &amp; Maintenance</h4>
        </div>
        <div class="panel-body">
          <p>No more leaks or unserviceable fans / lights at your office / residence.  Our expert technicians are a phone call away. Call us imemediately.</p>
          <a href="#" class="btn btn-default">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-truck"></i> Packing &amp; Shifting</h4>
        </div>
        <div class="panel-body">
          <p>Shifting house should no more be a headache.
	    Our expert personnel will pack and shift your house even at nights to suite your convenience.</p>
          <a href="#" class="btn btn-default">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-edit"></i> Collection Profiling</h4>
        </div>
        <div class="panel-body">
          <p>We undertake CAF (Customer Application Form) management, Data Entry System, Call Centres and Collection Processes.</p>
          <a href="#" class="btn btn-default">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-building"></i> Property Management</h4>
        </div>
        <div class="panel-body">
          <p>Leave your property to our safe hands which makes you comfort.  We will be responsible for cleaning, gardening, electrical and plumbing, security etc...</p>
          <a href="#" class="btn btn-default">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

 
</div>

{% endblock %}
